.clients-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.clients-container {
  overflow-x: auto;
  margin-top: 16px;
}

table {
  width: 100%;
}
